<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="JCommune">
  <parameter name="appUrl" value="http://autotests.jtalks.org/jcommune/"/>
  <parameter name="webDriverUrl" value="http://selenium.jtalks.org/wd/hub"/>
  <listeners>
    <!--Creates a selenium session for tests to use-->
    <listener class-name="org.jtalks.tests.jcommune.webdriver.SeleniumSessionListener"/>
    <!--Creates HTML Reports with test steps that each test passes-->
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="JCommune">
    <groups>
      <define name="manual"/>
      <!--Since HtmlUnit is a pretty buggy thing, it may not work for some functionality. Such tests will be marked
      as incompatible with HtmlUnit and will be run only in browsers.-->
      <define name="htmlunit-incompatible"/>
    </groups>
    <classes>
      <class name="org.jtalks.tests.jcommune.SignUpTest"/>
      <class name="org.jtalks.tests.jcommune.SignInTest"/>
      <class name="org.jtalks.tests.jcommune.TopicTest"/>
      <class name="org.jtalks.tests.jcommune.BbCodeTest"/>
      <class name="org.jtalks.tests.jcommune.ExternalLinksTest"/>
      <class name="org.jtalks.tests.jcommune.CheckMailCounterTest"/>
    </classes>
  </test>
</suite>

