<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="JCommune">
  <parameter name="appUrl" value="http://autotests.jtalks.org/jcommune/"/>
  <parameter name="webDriverUrl" value="http://jtalks.org:4444/wd/hub"/>
  <listeners>
    <listener class-name="org.jtalks.tests.jcommune.webdriver.SeleniumSessionListener"/>
  </listeners>
  <test name="JCommune">
    <classes>
      <class name="org.jtalks.tests.jcommune.SignInTest"/>
      <class name="org.jtalks.tests.jcommune.SignUpTest"/>
      <class name="org.jtalks.tests.jcommune.TopicTest"/>
      <!--<class name="org.jtalks.tests.jcommune.ExternalLinksTest"/>-->
    </classes>
  </test>
</suite>

